name: Elixir CI
env:
  MIX_ENV: test
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: OTP ${{matrix.otp}} | Elixir ${{matrix.elixir}}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        otp: [24, 23]
        elixir: ['1.13', '1.12', '1.11', '1.10']
    steps:
    - uses: actions/checkout@v3
    - uses: actions/cache@v3
      with:
        path: |
          deps
          _build
        key: ${{ runner.os }}-mix-${{matrix.otp}}-${{matrix.elixir}}-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
        restore-keys: |
          ${{ runner.os }}-mix-${{matrix.otp}}-${{matrix.elixir}}-
          ${{ runner.os }}-mix-${{matrix.otp}}-
          ${{ runner.os }}-mix-
    - uses: erlef/setup-beam@v1.15
      with:
        otp-version: ${{matrix.otp}}
        elixir-version: ${{matrix.elixir}}

    - name: Install hex
      run: mix local.hex --force
    - name: Install rebar
      run: mix local.rebar --force
    - name: Install Dependencies
      run: mix deps.get
    - name: Run Tests
      run: mix test

  quality:
    name: Code quality checks
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/cache@v3
      with:
        path: |
          deps
          _build
        key: ${{ runner.os }}-checks-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
        restore-keys: |
          ${{ runner.os }}-checks-
    - uses: erlef/setup-beam@v1.15
      with:
        otp-version: 23
        elixir-version: '1.11'

    - name: Install hex
      run: mix local.hex --force
    - name: Install rebar
      run: mix local.rebar --force
    - name: Install Dependencies
      run: mix do deps.get, compile
    - name: Run code analysis
      run: mix credo --strict
    - name: Report coverage
      run: mix coveralls.github
      # even if we cannot send the report, the build is still okay
      continue-on-error: true
    - name: Check documentation coverage
      run: MIX_ENV=docs mix inch
